<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h5>Contacto</h5>
        <p><i class="fas fa-phone-alt"></i> +57 (604)3201058</p>
        <p><i class="fas fa-envelope"></i> info@sier.com.co</p>
        <p><i class="fas fa-envelope"></i> Correo para notificaciones judiciales:</p>
        <p>info@sier.com.co</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h5>Horario de atención</h5>
        <p>lunes a viernes 7:30 a.m. a 5:30 p.m.</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h5>Información legal</h5>
        <ul>
          <li><a href="#">Política de protección de datos</a></li>
          <li><a href="#">Términos y condiciones</a></li>
          <li><a href="#">Transparencia y acceso a la información</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h5>Otros enlaces</h5>
        <ul>
          <li><a href="#">Línea ética</a></li>
          <li><a href="#">Intranet</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center">
    <img src="../../assets/imagen/logo.png" alt="logo" width="250px">
    <hr>
    <p>&copy; 2023 • Sistemas Inteligentes en Red S.A.S</p>
  </div>
</footer>
