<div class="container animate__fadeInRight">
  <h2 class="text-center mb-5">Noticias para la empresa Sistemas Inteligentes en Red</h2>
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th *ngFor="let column of tableColumns | paginate:pagesize:pagenumber">{{ column.name }}</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of tableColumns">{{ row[column.property] }}</td>
        <td>
          <a (click)="editRow = row" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></a>
        </td>
        <td>
          <a (click)="deleteRow(row)" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
</div>
